<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
  body{
    background-color: black

  }

  figcaption{
    color:white;
    font-style:italic;
    text-align: center;
  }
  </style>
</head>
<body>

<form style="color:white" id="upload-form" action="http://localhost:5001/">
  <input type="submit" value="Go Back">
</form>
<h1 style="color:white"> Images </h1>
{% for i in range(num) %}:
  <figure>
    <img src="{{url_for('static',filename=img_list[i])}}" width=300 height=300 style="text-align:center">
      <figcaption> {{label_list[i]}}</figcaption>
    </figure>
{% endfor %}
</body>
</head>
